<% completed = @task.completed ? "done" : "to do" %>
<h1><%= @task.title %> <%= completed %></h1>
<div>
  <%= @task.description %>
</div>

<%= link_to "All tasks", tasks_path %>
<%= link_to "Edit this task", edit_task_path(@task) %>
